func (c *{{.InmemTypeName}}) {{.Method.GoName}}(ctx context.Context, in*{{.Method.Input.GoIdent.GoName}}, opts...grpc.CallOption) (*{{.Method.Output.GoIdent.GoName}}, error) {
   md, found := metadata.FromOutgoingContext(ctx)
	if found {
		ctx = metadata.NewIncomingContext(ctx, md)
	}
   
   out, err := c.srv.{{.Method.GoName}}(ctx, in)
   if err != nil {
      return nil, err
   }
   return out, nil
}